<script lang="ts">
import { App } from '../app/feature/goal/App';
import Loading from '../component/Loading.svelte';
import "@fortawesome/fontawesome-free/css/all.css";
import Index from '../page/Index.svelte';
import Header from '../component/Header.svelte';

let appPromise = App.createDefault();
</script>

{#await appPromise}
      <Header></Header>
      <Loading/>
{:then app} 
      <Index app="{app}"></Index>
{/await}
