<script>
import { navigator } from "../app/core/infrastructure/AppNavigator";
import Header from "../component/Header.svelte";

</script>
<Header title="Menue" isCloseable="{true}"/>
<span class="link" on:click="{()=>navigator.lockscreen()}">Show lockscreen Page</span>