body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(219, 219, 219);
    color:rgb(0, 0, 0);
}

.link{
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    color:rgb(0, 0, 0);
}
