<script lang="ts">
import { lang } from "../app/feature/goal/infrastructure/language";
import type { Goal } from "../app/feature/goal/entity/Goal";

export let goal:Goal;
let inputSubgoal:string = "";

export let deleteGoal;
export let addSubgoal;
export let saveGoal;

async function addSubgoalMy() {
    await addSubgoal(goal.id, inputSubgoal);
    inputSubgoal = "";
}

</script>

<style>
    .entry{
        display: flex;
    }
    .big{
        font-size: 1.8em;
    }
    .text{
        width: 100%;
        background-color: transparent;
        border:none;
    }
    .fa-trash{
        cursor: pointer;
        color:rgb(197, 0, 0);
    }
    .icon{
        margin: 0.2em;
    }
    
</style>
<div class="entry big">
    <span class="icon fa fa-{goal.icon.id}" style="color: {goal.icon.color};"></span>
    <span class="text">{goal.title}</span>
    <span on:click="{()=>deleteGoal(goal.id)}" class="fa fa-trash"></span>
</div>
{#each goal.subgoals as subgoal}
    <div class="entry">
        <input type="checkbox" bind:checked="{subgoal.isChecked}">
        <!--<span class="icon fa fa-{subgoal.icon.id}" style="color: {subgoal.icon.color};"></span>-->
        <input type="text" class="text" bind:value="{subgoal.title}">
    </div>
{/each}
<input type="text" bind:value="{inputSubgoal}"><input type="button" on:click="{()=>addSubgoalMy()}" value="{lang.action.add}">
<br><br>
<input type="button" on:click="{()=>saveGoal(goal)}" value="{lang.action.save}">