<script>
    export let allowZoom = false;
</script>

<svelte:head>
    {#if allowZoom}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {:else}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {/if}
</svelte:head>