<script lang="ts">
import { navigator } from "../app/core/infrastructure/AppNavigator";
import { lang } from "../app/feature/goal/infrastructure/language";


    export let isCloseable = false;
    export let showAdd = !isCloseable;
    export let title=lang.app.title;
    export let closeAction = ()=> navigator.home();
    export let addAction = ()=> navigator.addgoal();
    export let settingAction= ()=> navigator.lockscreen();
</script>

<style>
    .title{
        text-align: center;
        font-family: 'Brush Script MT', cursive;
    }
    .add, .menue{
        position: absolute;
        top:0;
        text-decoration: none;
    }
    .add{
        right:0;
    }
    .menue{
        left:0;
    }
</style>

<div class="header">
    {#if isCloseable}
        <h3 on:click="{closeAction}" class="link menue">{lang.action.close}</h3>
    {:else}
      <h3 on:click="{settingAction}" class="link menue">{lang.action.menue}</h3>
    {/if}
    
    <h2 class="title">{title}</h2>
    {#if showAdd}
    <h3 class="link add" on:click="{addAction}">{lang.action.add}</h3>
    {/if}
</div>
<hr>