<script lang="ts">
import { IconRepository } from "../app/feature/goal/repo/IconRepository";
import type { App } from "../app/feature/goal/App";
import { lang } from "../app/feature/goal/infrastructure/language";
import Head from "../component/Head.svelte";
    
        export let app:App;
        let icons = new IconRepository().findAll();
    
        let inputValue:string = "";
        let inputColor:string = "#aaaaaa";
        let inputIcon:string = icons[0];
        async function myAdd(){
            if(inputValue == ""){
                alert(lang.message.please_enter_title);
                return;
            }
            await app.addGoal.execute({title:inputValue, iconId:inputIcon, color:inputColor});
            app.navigate.home();
        }
        function selectIcon(id:string){
            inputIcon = id;
        }
</script>

<style>
    .row{
       font-size: 2em;
        display: flex;
        flex-direction: row;
    }
    .row label{
        margin-top:0.6em;
        font-size: 0.6em;
        display:block;
    }
    .row input{
        flex-grow: 1;
        margin-top: 1em;;
    }

    .border{
        background-color: lightblue;
    }
    .fa {
        margin: 0.3em;
        font-size: 0.8em;
        cursor: pointer;
        padding:0.2em;
    }

</style>
<Head />
<div class="row">
    <label for="title">{lang.addgoal.title}</label>
    <input id="title" type="text" bind:value="{inputValue}">
</div>
<div class="row">
    <label for="title">{lang.addgoal.icon}</label>
    <div class="icons">
        {#each icons as icon}
            {#if icon == inputIcon}
                <span class="border fa fa-{icon}" style="color: {inputColor}" on:click="{()=>selectIcon(icon)}"></span>
            {:else}
                <span class="fa fa-{icon}" style="color: {inputColor}" on:click="{()=>selectIcon(icon)}"></span>
            {/if}
        {/each}
    </div>
</div>
<div class="row">
    <label for="color">{lang.addgoal.color}</label>
    <input id="color" type="color" bind:value="{inputColor}">
</div>
<div class="row">
    <input type="button" value="{lang.action.save}" on:click="{myAdd}">
</div>