<script lang="ts">
import Loading from "../component/Loading.svelte";
import type { App } from "../app/feature/goal/App";
import { lang } from "../app/feature/goal/infrastructure/language";
import type { Goal, SubGoal } from "../app/feature/goal/entity/Goal";
import GoalEditor from "../component/GoalEditor.svelte";
import Head from "../component/Head.svelte";

    export let app:App;
    let paramID:number = Number(app.navigate.getParam("id"));

async function addSubgoal(goalID:number, inputSubgoal:string){
    if(inputSubgoal == ""){
        return;
    }
    await app.addSubGoal.execute({
        goalID:goalID,
        title: inputSubgoal
    });
    app = app;
}

async function saveGoal(goal:Goal){
    await app.saveGoal.execute({
        goal:goal
    });
    app.navigate.home();
}

async function deleteGoal(id:number){
    if(confirm(lang.message.delete)){
        await app.removeGoal.execute({
            id
        });
        app.navigate.home();
    }
}
   
</script>
<Head></Head>
{#await app.loadDetails.execute({id:paramID})}
<Loading/>
{:then response}
    <GoalEditor
        goal="{response.goal}" 
        addSubgoal="{addSubgoal}" 
        deleteGoal="{deleteGoal}" 
        saveGoal="{saveGoal}">
    </GoalEditor>
{/await}