<script lang="ts">
import { lang } from "../app/feature/goal/infrastructure/language";
import type { App } from "../app/feature/goal/App";
import AddGoal from "./AddGoal.svelte";
import Details from "./Details.svelte";
import ListGoals from "./ListGoals.svelte";
import Lockscreen from "./Lockscreen.svelte";
import Header from "../component/Header.svelte";
import Head from "../component/Head.svelte";

    export let app:App;
    app.navigate.onChange(()=>app=app);

    let isInWebAppiOS = false;
    let isWebapp = false;
    let isInWebAppChrome = false;
    let isIOS = false;
    if(typeof window !== 'undefined'){
    // @ts-ignore
    isInWebAppiOS = (window.navigator.standalone == true);
    isInWebAppChrome = (window.matchMedia('(display-mode: standalone)').matches);

    isWebapp = isInWebAppiOS || isInWebAppChrome;
    // @ts-ignore
    isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    }
</script>
{#if isIOS && !isWebapp}
    <Head></Head>
    <Header showAdd="{false}"></Header>
    <br><br>
   <div>{lang.message.add_to_home}</div>
   <br><br>
{:else}
    {#if !app.navigate.isLockscreen()}
    <Header isCloseable="{!app.navigate.isHome()}" closeAction="{()=> app.navigate.home()}" showAdd="{app.navigate.isHome()}"/>
    {/if}

    {#if app.navigate.isHome()}
    <ListGoals app="{app}"></ListGoals>
    {/if}
    {#if app.navigate.isDetails()}
    <Details app="{app}" ></Details>
    {/if}
    {#if app.navigate.isAddgoal()}
    <AddGoal app="{app}"></AddGoal>
    {/if}
    {#if app.navigate.isLockscreen()}
    <Lockscreen app="{app}"></Lockscreen>
    {/if}
{/if}
