<script lang="ts">
import Loading from "../component/Loading.svelte";
import type { App } from "../app/feature/goal/App";
import { lang } from "../app/feature/goal/infrastructure/language";
import Head from "../component/Head.svelte";

    export let app:App;
    app.navigate.onChange(()=>app=app);

    async function myDelete(id:number){
        if(confirm(lang.message.delete)){
            await app.removeGoal.execute({id:id});
            app = app;
        }
    }


</script>
<style>
    .entry{
        display: flex;
        font-size:1.2em;
        margin-top:0.2em;
    }
    .text{

        width: 100%;
    }
    .fa-trash{
        cursor: pointer;
        color:rgb(197, 0, 0);
    }
    .icon{
        margin: 0.2em;
    }
    
</style>
<Head></Head>
{#await app.listGoals.execute()}
    <Loading/>
{:then response}
    {#each response.goals as goal}
        <div class="entry">
            <span class="icon fa fa-{goal.icon.id}" style="color: {goal.icon.color};"></span>
            <span class="link text" on:click="{()=> app.navigate.details(goal.id)}">{goal.title}</span>
            <span>({goal.subgoals.length}) </span>
            <span on:click="{()=>myDelete(goal.id)}" class="fa fa-trash"></span>
        </div>
    {/each}
{/await}