<script lang="ts">
import Loading from "../component/Loading.svelte";
import type { App } from "../app/feature/goal/App";
import Head from "../component/Head.svelte";
    export let app:App;

</script>
<style>
    .wrapper{
        color:rgb(190, 190, 190);
        margin-top: 70vh;
        position: absolute;
        text-align: left;
        top: -215vh;
        width:99%;
        text-align: center;
    }
    .goal-icon{
        width: 0.5em;
    }
    .goals{
        text-shadow: rgb(190, 190, 190) 0 200vh 0.12em;
        text-align: left;
        display: inline-block;
        margin: auto;
    }
    div.subgoal{
        margin:0;
        padding:0;
        line-height: 1em;
        font-size:0.7em;
    }
    span{
        margin: 0.4em;
    }
    .background{
        background-color: black;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:-100vh;
    }
    .back{
        position: absolute;
        width:95vw;
        height:200vh;
        cursor: pointer;
    }
</style>
<Head allowZoom="{true}"></Head>
{#await app.listGoals.execute()}
<Loading/>
{:then response}
       <div class="background" ></div>
        <div class="wrapper">
            <div class="goals">
                {#each response.goals as goal}
                    <div>
                        <span class="goal-icon fa fa-{goal.icon.id}" style="text-shadow: {goal.icon.color} 0 200vh 0.12em;"></span>
                        <span>
                            {goal.title}
                            {#each goal.subgoals as subgoal}
                                <div class="subgoal">
                                    <div class="fa fa-check" style="margin-left: 0.5em;text-shadow: {subgoal.isChecked?"green":"black"} 0 200vh 0.1em;"></div>
                                    {subgoal.title}
                                </div>
                            {/each}
                        </span>
                        
                    </div>
                    
                {/each}
            </div>
        </div>
        <div class="back" on:click="{()=> app.navigate.home()}"> </div>
{/await}